.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

 body{
  background: hsl(212, 45%, 89%);
 }

 .card{
    background: white;
    width: 18.0rem;
    height: 26.0rem;
    border-radius: 4%;
    left: 33.0rem;
    bottom: -1.8rem;
    position: relative;

 }

img{
    width: 15.0rem;
    height: 15.0rem;
    border-radius: 4%;
    left: 1.5rem;
    bottom: -0.9rem;
    position: relative;
}

h2{
    position: relative;
    bottom: -0.9rem;
    left: 0.3rem;
    text-align: center;
    font-size: 1.0rem;
    font-family: 'Outfit', sans-serif;
    font-weight: 70.0rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}

h4{
    position: relative;
    top: 1.5rem;
    left: 0.3rem;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    opacity: 30%;
    font-weight: 40.0rem;
    padding-left: 30px;
    padding-right: 20px;
}